/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */


button, .button {
    background: #424242;
    border: 1px solid #393939;
    border-radius: 3px;
    padding: 3px 5px;
    color: #EEEEEE;
    margin: 2px;
}

button:hover, .button:hover {
    background: shade(#A5A5A5, 0.85);
    color: #FFFFFF;
}

button:active,  button:insensitive,  button:checked,
.button:active, .button:insensitive, .button:checked {
    background: #5680C2;
    color: #FFFFFF;
}

combobox button.combo arrow {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
    color: #FFFFFF;
    min-height: 16px;
    min-width: 16px;
    padding: 0px 2px;
}

checkbutton,
checkbutton:hover,
checkbutton:focus,
checkbutton:focus:hover,
checkbutton:focus:hover:active,
checkbutton:checked,
checkbutton:checked:hover,
checkbutton:checked:focus,
checkbutton:checked:focus:hover,
checkbutton:checked:focus:hover:active {
    background-color: transparent;
    background-image: url("assets/checkbox.svg");
    background-repeat: no-repeat;
    background-position: 1px 50%;
}

checkbutton.text-button,
radiobutton.text-button {
    padding: 1px;
    color: #FFFFFF;
}

radiobutton,
radiobutton:hover,
radiobutton:focus,
radiobutton:focus:hover,
radiobutton:focus:hover:active,
radiobutton:checked,
radiobutton:checked:hover,
radiobutton:checked:focus,
radiobutton:checked:focus:hover,
radiobutton:checked:focus:hover:active {
    background-color: transparent;
    background-image: url("assets/radio.svg");
    background-repeat: no-repeat;
    background-position: 1px 50%;
}

checkbutton.text-button.disable,
radiobutton.text-button.disable {
    opasity: 0.5;
}

spinbutton {
    background: transparent;
    color: #000000;
}

spinbutton.vertical entry,
spinbutton.vertical entry:focus {
    border-radius: 0;
}

spinbutton.horizontal entry,
spinbutton.horizontal entry:focus {
    border-radius: 3px 0 0 3px;
}

