/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */

.caja-notebook .view,
.caja-notebook scrolledwindow.frame {
    border-style: none;
    background: #353535;
    color: #CCC;
}

.caja-notebook treeview.view {
    background: #353535;
    padding: 0px;
}

.caja-notebook .view:disabled {
    background-color: #ddd;
}

.caja-notebook {
    background-color: #eee;
}


iconview.view.cell:selected,
iconview.view.cell:selected:focus {
    /* eg. Configuration center */
    background-color: alpha(#5F5F5F, 0.90);    
    background-image: -gtk-gradient (linear,
                                     0.40 top, 0.60 bottom,
                                     from (shade (#5F5F5F, 1.14)),
                                     color-stop (0.45, shade (#5F5F5F, 1.00)),
                                     color-stop (0.52, shade (#5F5F5F, 0.88)),
                                     to (shade (#5F5F5F, 0.90))); 
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    border-top-color: shade(#5F5F5F, 1.04);
    border-left-color: shade(#5F5F5F, 0.92);
    border-right-color: shade(#5F5F5F, 0.92);
    border-bottom-color: shade(#5F5F5F, 0.80);
    border-image: none;
    box-shadow: inset  0px  1px alpha(#fff, 0.08),
                inset  1px  0px alpha(#fff, 0.07),
                inset -1px  0px alpha(#fff, 0.07),
                inset  0px -1px alpha(#fff, 0.06);
    text-shadow: none;
}

.caja-notebook .view rubberband, 
.caja-notebook .view flowbox rubberband, 
.caja-notebook .view treeview.view rubberband, 
.caja-notebook .view .content-view rubberband, 
.caja-notebook .view .rubberband, 
rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband, .rubberband {
  border: 1px solid #232323;
  background-color: rgba(125, 125, 125, 0.2); }

.caja-notebook .view button, .button {
    background: #424242;
    border: 1px solid #393939;
    border-radius: 3px;
    padding: 3px 5px;
    color: #EEEEEE;
    margin: 2px;
}

.caja-notebook .view button:hover, .button:hover {
    background: shade(#A5A5A5, 0.85);
    color: #FFFFFF;
}

.caja-notebook .view button:active,
.caja-notebook .view button:insensitive,
.caja-notebook .view button:checked,
.caja-notebook .view .button:active,
.caja-notebook .view .button:insensitive,
.caja-notebook .view .button:checked {
    background: #5680C2;
    color: #FFFFFF;
}

