/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *  
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *  
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *  
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */

spinbutton:not(.vertical),
entry {
  min-height: 30px;
  padding-left: 8px;
  padding-right: 8px;
  border: 1px solid;
  border-radius: 3px;
  transition: all 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
  color: #eff0f1;
  border-color: #616569;
  background-color: #232629;
  box-shadow: none; }
  spinbutton:not(.vertical) image.left,
  entry image.left {
    padding-left: 0;
    padding-right: 6px; }
  spinbutton:not(.vertical) image.right,
  entry image.right {
    padding-left: 6px;
    padding-right: 0; }
  spinbutton.flat:focus:not(.vertical), spinbutton.flat:not(.vertical),
  entry.flat:focus,
  entry.flat {
    min-height: 0;
    padding: 2px;
    color: #eff0f1;
    border-color: #616569;
    background-color: #232629;
    box-shadow: none; }
  spinbutton:focus:not(.vertical),
  entry:focus {
    border-color: #3daee9; }
  spinbutton:disabled:not(.vertical),
  entry:disabled {
    color: rgba(216, 218, 221, 0.35);
    border-color: rgba(88, 92, 95, 0.35);
    background-color: #202325; }
  spinbutton:backdrop:not(.vertical),
  entry:backdrop {
    color: #eff0f1;
    border-color: #616569;
    background-color: #232629; }
  spinbutton:backdrop:disabled:not(.vertical),
  entry:backdrop:disabled {
    color: rgba(216, 218, 221, 0.35);
    border-color: rgba(88, 92, 95, 0.35);
    background-color: #202325; }
  spinbutton.error:not(.vertical),
  entry.error {
    color: #da4453;
    border-color: #da4453;
    background-color: rgba(218, 68, 83, 0.5); }
    spinbutton.error:focus:not(.vertical),
    entry.error:focus {
      border-color: #da4453;
      background-color: rgba(218, 68, 83, 0.5); }
    spinbutton.error:selected:not(.vertical), spinbutton.error:selected:focus:not(.vertical),
    entry.error:selected,
    entry.error:selected:focus {
      background-color: #da4453; }
    spinbutton.error:backdrop:not(.vertical),
    entry.error:backdrop {
      color: #da4453;
      border-color: #da4453;
      background-color: rgba(218, 68, 83, 0.5); }
  spinbutton.warning:not(.vertical),
  entry.warning {
    color: #f67400;
    border-color: #f67400;
    background-color: rgba(246, 116, 0, 0.5); }
    spinbutton.warning:focus:not(.vertical),
    entry.warning:focus {
      border-color: #f67400;
      background-color: rgba(246, 116, 0, 0.5); }
    spinbutton.warning:selected:not(.vertical), spinbutton.warning:selected:focus:not(.vertical),
    entry.warning:selected,
    entry.warning:selected:focus {
      background-color: #f67400; }
    spinbutton.warning:backdrop:not(.vertical),
    entry.warning:backdrop {
      color: #f67400;
      border-color: #f67400;
      background-color: rgba(246, 116, 0, 0.5); }
  spinbutton:not(.vertical) image,
  entry image {
    color: #eff0f1; }
    spinbutton:not(.vertical) image:hover,
    entry image:hover {
      color: #3daee9; }
    spinbutton:not(.vertical) image:active,
    entry image:active {
      color: #3daee9; }
    spinbutton:not(.vertical) image:backdrop,
    entry image:backdrop {
      color: #eff0f1; }
spinbutton:not(.vertical) progress,
entry progress {
  margin: 1px;
  border-radius: 0;
  border-width: 0 0 2px;
  border-color: #3daee9;
  border-style: solid;
  background-image: none;
  background-color: transparent;
  box-shadow: none; }
  spinbutton:not(.vertical) progress:backdrop,
  entry progress:backdrop {
    background-color: transparent;
    border-color: rgba(61, 174, 233, 0.5); }

treeview acceleditor > label {
  background-color: #3daee9; }

treeview entry.flat, treeview entry {
  border-radius: 0;
  background-image: none;
  background-color: #232629; }
  treeview entry.flat:focus, treeview entry:focus {
    border-color: #3daee9; }

