/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *  
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *  
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *  
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */

* {}

.background { background: rgba(35, 35, 35, 1.0); color: #E6E6E6; }

.rubberband, rubberband, flowbox rubberband, treeview.view rubberband {
    border: 1px solid #232323;
    background-color: alpha (#5F5F5F, 0.35);
}
.rubberband:backdrop, rubberband:backdrop, treeview.view rubberband:backdrop {
    border-color: #232323;
    background-color: alpha (#5F5F5F, 0.35);
}

/* override previous setting for rubberband of mate-screenshot */
.background.rubberband {
	background-color: alpha (#5F5F5F, 0.1);
}

/* ie. selection mouse retancle in caja */
.caja.rubberband, view.rubberband, rubberband, .view.rubberband, .rubberband,
rubberband, flowbox rubberband, treeview.view rubberband, .content-view rubberband, .rubberband {
    background-color: alpha (#5F5F5F, 0.2);
    border-color: alpha (#232323, 0.5);
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;    
}

flowbox flowboxchild {
    padding: 3px;
    border-radius: 3px;
}
flowbox flowboxchild:selected {
    outline-offset: 0px;
}

list {
  background-color: #1E1E1E;
  border-color: #0f0f0f; }
  list row {
    padding: 2px; }


@import url("button.css");
@import url("menu.css");
@import url("entry.css");
@import url("box.css");
@import url("text.css");
@import url("toolbar.css");
@import url("tooltip.css");
@import url("scrollbar.css");
@import url("treeview.css");
@import url("caja.css");
@import url("mate-panel.css");
@import url("notebook.css");
@import url("menubar.css");
@import url("grip.css");
