/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */

#PanelPlug, #PanelApplet button, PanelToplevel.background {
    background-color: transparent;
    background-image: none;
    border-color: transparent;
    box-shadow: none;
    padding: 0px;
}

#PanelPlug, .mate-panel-menu-bar, PanelToplevel.background {
    background-color: #111;
    background-image: none;
    color: #eee;
    text-shadow: none;
}

.mate-panel-menu-bar .csd.popup decoration {
    box-shadow: none;
}

PanelToplevel > grid > button {
    color: #fff;
    background-image: none;
    background: transparent;
    border-style: none;
    border-radius: 3px;
    padding: 0px;
}

PanelToplevel > grid > button:hover,
PanelToplevel > grid > button:hover:active {
    background-image: none;
    text-shadow: none;
    color: #fff;
    border-style: none;
}

PanelSeparator {
    border-width: 0;
    color: transparent;
    background-image: -gtk-scaled(url("assets/panel-grid.svg"));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
}

MatePanelAppletFrameDBus {
    background-image: -gtk-scaled(url("assets/panel-grid.svg"));
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left;
}

#PanelApplet button:hover:active,
#PanelApplet button:checked,
#PanelApplet button:checked:hover,
#PanelApplet button.flat:hover:active,
#PanelApplet button.flat:checked,
#PanelApplet button.flat:checked:hover,
#PanelApplet button.toggle:hover:active,
#PanelApplet button.toggle:checked,
#PanelApplet button.toggle:checked:hover,
#PanelApplet button.flat.toggle:hover:active,
#PanelApplet button.flat.toggle:checked,
#PanelApplet button.flat.toggle:checked:hover{
    background-image: none;
    border-color: #141414;
    background-color: #333;
    border-radius: 0px;
    border-width: 1px;
    color: #fff;
    text-shadow: none;
    padding: 4px;
}

#PanelApplet button:hover,
#PanelApplet button.flat:hover,
#PanelApplet button.toggle:hover,
#PanelApplet button.flat.toggle:hover {
    background-image: none;
    border-color: #151515;
    background-color: #555;
    border-radius: 0px;
    border-width: 1px;
    color: #FFF;
    text-shadow: none;
    padding: 4px;
}
