/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */

menubar, .menubar {
    background: #232323;
    border-bottom: 1px solid #303030;
    -GtkWidget-window-dragging: true;
}

 menubar menuitem,
.menubar menuitem {
    background: #232323;
    padding: 2px 5px;
    border: 1px solid transparent;
    color: #CCC;
} menubar menuitem:hover,
.menubar menuitem:hover {
    background: #5680C2;
    border: 1px solid #3B5680;
    color: #FFF;
}

 menubar  menu,
.menubar .menu {
    background: transparent;
}
 menubar  menu  menuitem,
.menubar .menu .menuitem {
    /*transition: all 100ms cubic-bezier(0, 0, 0.2, 1);*/
    background: #1F1F1F;
    border: 1px solid transparent;
    padding: 5px 8px;
    color: #EEEEEE;
} menubar menu menuitem:hover,
.menubar .menu .menuitem:hover {
    transition: none;
    background: #5680C2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
} menubar menu menuitem:insensitive,
.menubar .menu .menuitem:insensitive {
    color: #777777;
}

menuitem arrow {
    min-height: 16px;
    min-width: 16px;
    margin-left: 10px;
    color: #FFFFFF;
}

menubar  menu  separator,
.menubar .menu .separator {
    color: #303030;
    border-bottom: 1px solid #303030;
}

 menuitem  separator,
.menuitem .separator {
    color: #303030;
    border-bottom: 1px solid #303030;
}
