/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *  
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *  
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *  
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *  
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */


menu menuitem,
.menu .menuitem {
   background: #1F1F1F;
   padding: 5px 8px;
   border: 1px solid transparent;
   color: #EEEEEE;
} menu menuitem:hover,
.menu .menuitem:hover {
  transition: none;
  background: #5680C2;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #FFFFFF;
} menu menuitem:insensitive,
.menu .menuitem:insensitive {
  color: #777777;
}


menu separator,
.menu .separator {
   color: #303030;
   border-bottom: 1px solid #303030;
}


menu menuitem arrow:dir(ltr),
.menu menuitem arrow:dir(ltr) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}

menu menuitem arrow:dir(rtl),
.menu menuitem arrow:dir(rtl) {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl");
}

menuitem calendar,
menuitem calendar .button,
menuitem calendar .header {
    background: #1F1F1F;
}

menuitem calendar .view {
    background: #232323;
    color: #FFFFFF;
}

separator, .separator {
    color: rgba(0, 0, 0, 0.2);
}
