/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */

notebook {
    padding: 0;
    background-clip: border-box;
    border-style: none;
}

notebook:hover {
    -gtk-icon-effect: highlight;
    color: #FF0000;
}

notebook.frame {
    background: #202020;
    border-style: solid;
    border-color: #101010;
    border-width: 1px;
    border-radius: 4px 4px 0px 0px;
}

notebook header tab {
    border: 1px solid #1F1F1F;
    background: #2B2B2B;
    padding: 3px;
    color: #FFFFFF;
}

notebook header tab button {
    border: 1px solid transparent;
    background: transparent;
}

notebook header tab button:hover {
    border: 1px solid #1F1F1F;
    background: #5680C2;
    color: #FFFFFF;
}

notebook header tab:hover {
    background: #4D4D4D;
    color: #FFFFFF;
}

notebook header tab:checked {
    background: #4D4D4D;
    color: #FFFFFF;
}
