/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */

scrollbar {
  -GtkScrollbar-has-backward-stepper: true;
  -GtkScrollbar-has-forward-stepper: true;
  background-color: #232323;
  border-width: 3px 0px;
  border-color: #232323;
  margin: 0px;
}
scrollbar button {
    min-width: 14px;
    min-height: 14px;
    margin: 0px;
    padding: 0px 3px;
    border: none;
    border-radius: 0px;
    background-image: none;
    background-color: #232323;
    color: #eff0f1;
    box-shadow: none;
}
scrollbar button:hover {
      border: none;
      background-image: none;
      background-color: #232323;
      color: #3daee9;
}
scrollbar button:active, scrollbar button:active:hover {
      border: none;
      background-image: none;
      background-color: #232323;
      color: #3daee9;
}
scrollbar button:disabled {
      border: none;
      background-color: #232323;
      background-image: none;
      color: rgba(216, 218, 221, 0.35);
}
scrollbar button:backdrop {
      color: #eff0f1;
}
scrollbar button:backdrop:disabled {
        color: rgba(216, 218, 221, 0.35);
}
scrollbar.dragging, scrollbar.hovering {
    opacity: 0.9910;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
    opacity: 0.999;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering) {
    -GtkScrollbar-has-backward-stepper: false;
    -GtkScrollbar-has-forward-stepper: false;
    background: none;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider {
      min-width: 4px;
      margin: 2px;
      border: none;
      border-radius: 2px;
      background-color: #adafb2;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider:backdrop {
        background-color: #adafb2;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering) trough {
      min-width: 4px;
      min-height: 4px;
      border: none;
      background: none;
      box-shadow: none;
}
scrollbar.overlay-indicator:not(.dragging):not(.hovering).horizontal slider {
      min-height: 4px;
}
scrollbar trough {
    min-width: 16px;
    min-height: 16px;
    border: 0px solid transparent;
    border-radius: 8px;
    background-color: #373737;
    box-shadow: inset 0px 0px 0px 3px #232323;
}
scrollbar slider {
    min-width: 10px;
    min-height: 30px;
    border: 2px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
    background-color: #adafb2;
}
scrollbar slider:hover {
      background-color: #3daee9;
}
scrollbar slider:active {
      background-color: #3daee9;
}
scrollbar slider:disabled {
      background-color: rgba(157, 159, 163, 0.35);
}
scrollbar slider:backdrop {
      background-color: #adafb2;
}
scrollbar slider:backdrop:disabled {
      background-color: rgba(157, 159, 163, 0.35);
}
scrollbar.horizontal slider {
    min-width: 30px;
    min-height: 10px;
}
scrollbar.vertical button.down {
    -gtk-icon-source: -gtk-icontheme("pan-down-symbolic");
}
scrollbar.vertical button.up {
    -gtk-icon-source: -gtk-icontheme("pan-up-symbolic");
}
scrollbar.horizontal button.down {
    -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
}
scrollbar.horizontal button.up {
    -gtk-icon-source: -gtk-icontheme("pan-start-symbolic");
}
