/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */

.view text, textview text, .view {
    color: #eff0f1;
    background-color: #232629;
}
.view text:backdrop, textview text:backdrop, .view:backdrop {
    color: #eff0f1;
    background-color: #232629;
}
.view text:selected:focus, textview text:selected:focus, .view text:selected, textview text:selected, .view:selected:focus, .view:selected {
    border-radius: 3px;
}

.view text:selected:focus, textview text:selected:focus, .view text:selected, textview text:selected, .view:selected:focus, .view:selected, .view text selection:focus, .view text selection, textview text selection:focus, textview text selection, flowbox flowboxchild:selected, spinbutton:not(.vertical) selection:focus, spinbutton:not(.vertical) selection, entry selection:focus, entry selection, row:selected, .sidebar:selected {
    padding: 2px;
    background-color: #4D4D4D;
    color: #eff0f1;
}
textview text:hover:selected:focus, .view text:hover:selected, textview text:hover:selected, .view:hover:selected, .view text selection:hover, textview text selection:hover, flowbox flowboxchild:hover:selected, spinbutton:not(.vertical) selection:hover, entry selection:hover, row:hover:selected, .sidebar:hover:selected {
    padding: 2px;
    background-color: #4D4D4D;
    color: #eff0f1;
}
textview text:backdrop:selected:focus, .view text:backdrop:selected, textview text:backdrop:selected, .view:backdrop:selected, .view text selection:backdrop, textview text selection:backdrop, flowbox flowboxchild:backdrop:selected, label:backdrop selction, spinbutton:not(.vertical) selection:backdrop, entry selection:backdrop, row:backdrop:selected, .sidebar:backdrop:selected {
    background-color: rgba(61, 174, 233, 0.5);
    color: #232629;
}

.view text:selected:focus, textview text:selected:focus, .view text:selected, textview text:selected, .view:selected:focus, .view:selected, .view text selection:focus, .view text selection, textview text selection:focus, textview text selection, flowbox flowboxchild:selected, spinbutton:not(.vertical) selection:focus, spinbutton:not(.vertical) selection, entry selection:focus, entry selection, row:selected, .sidebar:selected {
    padding: 2px;
    background-color: #4D4D4D;
    border-radius: 0px;
}
.view text:selected:focus, textview text:selected:focus, .view text:selected, textview text:selected, .view:selected:focus, .view:selected, .view text selection:focus, .view text selection, textview text selection:focus, textview text selection, flowbox flowboxchild:selected, spinbutton:not(.vertical) selection:focus, spinbutton:not(.vertical) selection, entry selection:focus, entry selection, row:selected, .sidebar:selected {
    color: #FFFFFF;
}
textview text:disabled:selected:focus, .view text:disabled:selected, textview text:disabled:selected, .view:disabled:selected, .view text selection:disabled, textview text selection:disabled, flowbox flowboxchild:disabled:selected, label:disabled selection, spinbutton:not(.vertical) selection:disabled, entry selection:disabled, row:disabled:selected, .sidebar:disabled:selected {
      color: #FF0000;
}
    textview text:backdrop:selected:focus, .view text:backdrop:selected,
    textview text:backdrop:selected,
    .view:backdrop:selected, .view text selection:backdrop,
    textview text selection:backdrop, flowbox flowboxchild:backdrop:selected, label:backdrop selction, spinbutton:not(.vertical) selection:backdrop,
    entry selection:backdrop, row:backdrop:selected, .sidebar:backdrop:selected {
      color: #00FF00;
}
.view text:backdrop:disabled:selected, textview text:backdrop:disabled:selected, .view:backdrop:disabled:selected, .view text selection:backdrop:disabled, textview text selection:backdrop:disabled, flowbox flowboxchild:backdrop:disabled:selected, label:disabled selection:backdrop, label:backdrop selction:disabled, spinbutton:not(.vertical) selection:backdrop:disabled, entry selection:backdrop:disabled, row:backdrop:disabled:selected, .sidebar:backdrop:disabled:selected {
        color: rgba(216, 218, 221, 0.35);
}
