/*  NightLight - Gtk 3.0 theme for Mate Linux.
 *
 *  Copyright 2022 Mish7913 <Mish7913@gmail.com>
 *
 *  This program is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  This program is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with this program; if not, write to the Free Software
 *  Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston,
 *  MA 02110-1301, USA.
 */

toolbar, .toolbar {
    background: #232323;
    color: #CCC;
    padding: 3px;
}

toolbar button, .toolbar .button {
    background: #232323;
    border: 1px solid transparent;
    color: #CCCCCC;
} toolbar button:hover, .toolbar .button:hover {
    background: #5680C2;
    border: 1px solid rgba(0, 0, 0, 0.2);
    color: #FFFFFF;
}

toolbar button:insensitive,
.toolbar .button:insensitive {
    background: #232323;
    opacity: 0.5;
    color: #AAA;
}

 toolbar  separator,
.toolbar .separator {
   color: rgba(0, 0, 0, 0.2);
}
